# eclipse
bin/
.git/
*.launch
.settings
.metadata
.classpath
.project

# Local keystores
*.jks

# Key information
keyinfo.properties

# idea
out/
*.ipr
*.iws
*.iml
.idea/

# gradle
build/
.gradle/
.factorypath

# other
eclipse/
run/
logs/

# patching system
Patches/

# builders
!builders/*
/home/
